.App {
  text-align: center;
}
.block{
  margin-top:20px;
}
.text{
  width:auto;
  border:1px solid black;
  padding-left:10px;
  padding-right:10px;
}
.pagination{
  text-align:center;
  float:center;
}
.center{
  text-align:center;
  float:center;
}